
ram{
    width: 100%;
    height: 100%;
}
body{
     min-height: 100vh;
     width:100%;
     background-color: hwb(103 0% 0% / 0.432);

}
.bam{
    background-color:azure;
}
button{
      width: 200px;
      height: 40px;
      color: white;
      background-color: red;
      border: 1px   solid white;
      cursor: pointer;
     
}
select{
     width: 200px;
     background-color:black;
}
input{
    background-color:black;
    opacity: o.4;
}
textarea{
    background-color: black;
}
 input-radio{
    background-color: black;
}
body{
    overflow-x: hidden;
    max-width:100%;
}
 input-file{
    background-color: ;
}
button:hover{
    background-color:blue;
}
button:action{
    background-color:green;
}
    
    
